body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}
/*================================================================
header
================================================================*/
.header{
    margin: 30px 0;
    padding: 30px 0;
}
.header-left{
    float: left;
}
.header-title{
    font-weight: bold;
    font-size: 24px;
}
.header-right{
    float: right;
}
.header-nav-item{
    float: left;
    margin-left: 50px;
}
.header-nav-item a {
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
}
/*================================================================
top
================================================================*/
.top{
    background-image: url(../img/top.jpg);
    background-size: cover;
    padding: 300px 0;
}
.top-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.top-subtitle{
    font-size: 18px;
    text-align: center;
}

/*================================================================
section共通クラス
================================================================*/
.section{
    padding: 60px;
}
.section-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.section-subtitle{
    color: gray;
    font-size: 21px;
    text-align: center;
    margin-bottom: 40px;
}
/*================================================================
about
================================================================*/
.about-left{
    float: left;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-right{
    float: right;
    width: 48%;
}
.about-img{
    width: 50%;
    height: auto;
}
.name{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
h4{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}

/*================================================================
Service
================================================================*/
.Service{
    background-color: #ddfafa;
}
.Service-wrapper{
    display: flex;
    justify-content: space-between;
}
.Service-item{
    width: 30%;
}
.Service-title{
    font-weight: bold;
}
/*================================================================
work
================================================================*/
.work-wrapper{
    display: flex;
    justify-content: space-between;
}
.work-item{
    width: 47%;
}
.work-title{
    font-weight: bold;
    padding: 20px 0;
}
/*================================================================
contact
================================================================*/
.contact{
    background-color: #ddfafa;
}
.contact-item{
    display: flex;
    justify-content: center;
}
.fa{
    font-size: 500%;
    margin: 0 60px;
    margin-top: 20px;
}
.icon-text{
    text-align: center;
}
.contact-message{
    text-align: center;
    margin-bottom: 20px;
}

/*================================================================
footer
================================================================*/
footer{
    background-color: #082b48;
    color: white;
    padding: 20px 0;
}
.copyright{
    font-size: 12px;
    float: right;
}
/*================================================================
レスポンシブCSS
================================================================*/
@media only screen and (max-width:767px){
    .clear::after{
        content: none;
    }
    /*================================================================
    header
    ================================================================*/
    .header-left{
        float: none;
    }
    .header-title{
       text-align: center;
    }
    .header-right{
        float: none;
    }
    .header-nav{
        display: flex;
        justify-content: space-between;
    }
    .header-nav-item{
        float: none;
        margin-left: 0px;
    }
    /*================================================================
    top
    ================================================================*/
    .top{
        padding: 120px 0;
    }
    .top-title{
        font-size: 32px;
    }
    .top-subtitle{
        font-size: 14px;
    }
    /*================================================================
    section共通クラス
    ================================================================*/
    .section{
        padding: 80px 0;
    }
    .section-title{
        font-size: 24px;
    }
    .section p{
        font-size: 14px;
    }
    /*================================================================
    about
    ================================================================*/
    .about-left{
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .about-right{
        float: none;
        width: 100%;
    }
    /*================================================================
    course
    ================================================================*/
    .course-wrapper{
        flex-wrap: wrap;
    }
    .course-item{
        width: 100%;
        margin-bottom: 20px;
    }
    /*================================================================
    contact
    ================================================================*/
    input[type="email"],input[type="text"]{
        width: 100%;
    }
    /*================================================================
    footer
    ================================================================*/
    .copyright{
        font-size: 10px;
        float: none;
        text-align: center;
    }
}
